<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Dashboard</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
    </head>
    <body>
        {% block body %}
            {% block nav %}{% endblock %}
            {% block sidebar %}{% endblock %}    
        {% endblock %}
        
    </body>
</html>
